{{#section 'title'}}SSG của tôi{{/section}}

<div id="content">
	<div class="container">

		<div class="col-md-12">

			<ul class="breadcrumb">
				<li><a href="/">Trang chủ</a>
				</li>
				<li>Tài khoản của tôi</li>
			</ul>

		</div>

		<div class="col-md-3">
			<!-- *** CUSTOMER MENU *** -->
			<div class="panel panel-default sidebar-menu">

				<div class="panel-heading">
					<h3 class="panel-title">Người dùng</h3>
				</div>

				<div class="panel-body">

					<ul class="nav nav-pills nav-stacked">
						<li class="active">
							<a href="/order"><i class="fa fa-list"></i> Các đơn hàng của tôi</a>
						</li>
						<li>
							<a href="/wishlist"><i class="fa fa-heart"></i> Wishlist</a>
						</li>
						<li>
							<a href="/user"><i class="fa fa-user"></i> Tài khoản của tôi</a>
						</li>
						<li>
							<a href="javascript:;" class="logout_btn"><i class="fa fa-sign-out"></i> Đăng xuất</a>
						</li>
					</ul>
				</div>

			</div>
			<!-- /.col-md-3 -->

			<!-- *** CUSTOMER MENU END *** -->
		</div>

		<div class="col-md-9">
			<div class="box">
				<h1>Tài khoản của tôi</h1>
				<p class="lead">Thay đổi thông tin và mật khẩu của bạn tại đây :)</p>

				<h3>Thay đổi mật khẩu</h3>

				<form action="/user/update-pass" method="post">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="password">Mật khẩu cũ</label>
								<input type="password" class="form-control" id="password" name="password">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="password_new">Mật khẩu mới</label>
								<input type="password" class="form-control" id="password_new" name="password_new">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="repassword_new">Nhập lại mật khẩu</label>
								<input type="password" class="form-control" id="repassword_new" name="repassword_new">
							</div>
						</div>
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu thay đổi</button>
						</div>
					</div>
					<!-- /.row -->

				</form>

				<hr>

				<h3>Thông tin cá nhân</h3>
				<form action="/user/update-info" method="post">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="username">Họ và tên Bạn</label>
								<input type="text" class="form-control" id="username" name="username">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="dob">Ngày sinh Bạn</label>
								<input type="text" class="form-control" id="dob" name="dob">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="gender">Giới tính Bạn</label>
								<input type="text" class="form-control" id="gender" name="gender">
							</div>
						</div>
					</div>
					<!-- /.row -->

					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="email">Email Bạn</label>
								<input type="text" class="form-control" id="email" name="email">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="phone">Số điện thoại</label>
								<input type="text" class="form-control" id="phone" name="phone">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="address">Địa chỉ</label>
								<input type="text" class="form-control" id="address" name="address">
							</div>
						</div>
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu thay đổi</button>
						</div>
					</div>
					<!-- /.row -->
				</form>
			</div>
		</div>

	</div>
	<!-- /.container -->
</div>
<!-- /#content -->