{{#section 'title'}}SSG Đăng kí{{/section}}

<div id="content">
	<div class="container">

		<div class="col-md-12">

			<ul class="breadcrumb">
				<li><a href="/">Trang chủ</a>
				</li>
				<li>Tạo tài khoản :)</li>
			</ul>

		</div>

		<div class="col-md-6">
			<div class="box">
				<h1>Tài khoản mới</h1>

				<p class="lead">Bạn chưa có tài khoản?</p>
				<p>Với việc đăng kí bạn sẽ nhận được nhiều ưu đãi và thoải mãi mua sắm! Tất cả việc bạn cần làm là bỏ ra chỉ 1 phút!</p>
				<p class="text-muted">Nếu có thắc mắc cần giải đáp hãy <a href="/us/contact">liên hệ với chúng tôi</a>, chúng tôi sẽ liên lạc với bạn sớm nhất có thể</p>

				<hr>

				<form action="/user/add" method="post">
					<div class="form-group">
						<label for="username">Họ và tên bạn</label>
						<input type="text" class="form-control" id="username" name="username">
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="text" class="form-control" id="email" name="email">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" name="password">
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Đăng kí</button>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<div class="box">
				<h1>Đăng nhập</h1>

				<p class="lead">Bạn đã là thành viên? :)</p>
				<p class="text-muted">Chúng tôi có những ưu đãi đặc biệt vào cuối tuần, hãy là người đầu tiên nhận ưu đãi của chúng tôi cho những dịp đặc biệt đó nhé</p>

				<hr>

				<form action="/user/login" method="post">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="text" class="form-control" id="email" name="email">
					</div>
					<div class="form-group">
						<label for="password">Mật khẩu</label>
						<input type="password" class="form-control" id="password" name="password">
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Đăng nhập</button>
					</div>
				</form>
			</div>
		</div>

	</div>
	<!-- /.container -->
</div>
<!-- /#content -->