{{#section 'title'}}SSG Error{{/section}}

<div id="content">
	<div class="container">

		<div class="col-md-12">

			<ul class="breadcrumb">
				<li><a href="/">Trang chủ</a>
				</li>
				<li>Trang không khả dụng :(</li>
			</ul>

			<div class="row" id="error-page">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="box">
						<p class="text-center">
							<img src="/imgs/icons/errors/error.jpg" style="max-height:100%; max-width:100%;">
						</p>

						<p class="buttons"><a href="/" class="btn btn-primary"><i class="fa fa-home"></i> Về trang chủ</a>
						</p>
					</div>
				</div>
			</div>

		</div>
		<!-- /.col-md-9 -->
	</div>
	<!-- /.container -->
</div>
<!-- /#content -->